* {
	font-family: "Poppins", sans-serif;
}
.btn-light,
.btn-light:hover,
.btn-light:active,
.btn-light:visited {
	background-color: #b68c5a !important;
	font-weight: 600;
}
.next {
	width: 14px;
	height: 14px;
}
.header-img {
	height: 550px;
	background-image: linear-gradient(
			to bottom,
			rgba(255, 253, 253, 0) 20%,
			rgba(0, 0, 0, 1) 100%
		),
		url("./images/banner.png");
}
.garamond-800 {
	font-weight: 800;
	font-family: "EB Garamond", serif;
	font-size: 40px;
}
.card-gradient {
	background: linear-gradient(180deg, #f3f3f3 0%, rgba(243, 243, 243, 0) 100%);
}
